<hr>
<h1>EMPLOYEES</h1>
<div>
  <% @employees.each do |employee| %>
    <div>
      <%= employee.name %>
    </div>
    <div>
      <%= button_to  "Detail", employee, method: :get %>
    </div>
  <% end %>
</div>
<div>
  <%= button_to 'Create New Employee', new_employee_path, method: :get %>
</div>
<div>
  <%= link_to  "Volver", admin_index_path %>
</div>
