<h1>Absences by month</h1>
<% @employees.each do |employee|%>
  <div>
    <%= Date::MONTHNAMES[Date.today.month]%>
    <%= employee.name %>
    <%= @attendances_by_day.select { |attendance| attendance.employee_id == employee.id}.count %>
  </div>
<% end %>
<% days = Time.days_in_month(1, 2022) %>
<% days = Time.days_in_month(2, 2022) %>
<% days = Time.days_in_month(3, 2022) %>
<% days = Time.days_in_month(4, 2022) %>
<% days = Time.days_in_month(5, 2022) %>
<% days = Time.days_in_month(6, 2022) %>
<% days = Time.days_in_month(7, 2022) %>
<% days = Time.days_in_month(8, 2022) %>
<% days = Time.days_in_month(9, 2022) %>
<% days = Time.days_in_month(10, 2022) %>
<% days = Time.days_in_month(11, 2022) %>
<% days = Time.days_in_month(12, 2022) %>
<%= days %>
