<div style="display: flex; flex-direction: column; align-items:center;">
<h1>Store Information</h1>
<hr>
<div style="display:grid; grid-direction:column; justify-content: space-around; gap: 10px; padding-left: 10px;" >
    <div style="display:flex; flex-direction: column;justify-content: space-between; gap: 10px;">
        <div>
            <label for="">Name:</label>
            <%= @store.name %>
        </div>
        <div>
            <label for="">Address:</label>
         <%= @store.address %>
        </div>
    </div>
    <button>
        <%= link_to  "Edit Store", edit_store_path %>
    </button>
    <%= button_to  "Delete Store", @store, method: :delete %>
    </div>
</div>
