<h1>Admin Panel</h1>
<div>
  <%= button_to "Manage Employees", employees_path, method: :get %>
  <%= button_to "Manage Company Branches", stores_path, method: :get %>
  <%= button_to "Reports", reports_path, method: :get %>
</div>
<div>
  <h1>Admin Users</h1>
  <div>
    <% @admins.each do |admin| %>
      <div>
        <%= admin.name %>
      </div>
    <% end %>
  </div>
</div>
