<h1>Average time check by month</h1>
<%= form_with url: checks_average_by_month_path, method: :get do |form| %>
  <%= form.text_field :query_text, placeholder: 'Type a month', onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
<% end %>
<%= show_months %>
<table>
  <thead>
    <tr>
      <th>
        <p>Month</p>
      </th>
      <th>
        <p>Employee</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
