<div id="header">
  <div id="h_title">
    <%= link_to attendances_path do %>
      <h1>CHECK TIME CLOCK</h1>
    <% end %>
  </div>
  <div id='h_current'>
    <% if current_employee %>
      <p>Current session as: <%= current_employee.name %></p>
      <%= button_to "Log out", destroy_employee_session_path, method: :delete %>
    <% else %>
      <%= button_to "Log in", new_employee_session_path, :method => :get %>
    <% end %>
  </div>
</div>