 @import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  background: #6a11cb;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

#all{
  width: 50%;
  display:flex;
  justify-content: center;
  
}

 #header{
  width: 50%;
  background-color: gray;
  height: 100px;
  width: 100%;

 }

 #login{
  background-color: rgb(66, 62, 62);
  color: white;
  border-radius: 50px;
  height: 700px;
  width: 450px;
 }