@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6a11cb;
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* --- GENERAL --- */
input[type="text"],
select {
  width: 65%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.blue-button {
  background-color: #1c6ea4;
}
.red-button {
  background-color: #f32424;
}
.notice,
.alert {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 10px;
  font-size: 13px;
  text-align: left;
  width: auto;
}
.notice {
  color: #4f8a10;
  background-color: #dff2bf;
}
.alert {
  color: #d8000c;
  background-color: #ffbaba;
}

button {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  color: white;
  background: rgba(26, 51, 61, 0);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 1);
}
button:hover {
  background-color: white;
  color: black;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
table {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table tr:nth-child(even) {
  background: #d0e4f5;
}
table thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(
    top,
    #5592bb 0%,
    #327cad 66%,
    #1c6ea4 100%
  );
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 3px solid #444444;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #d0e4f5;
}
table thead th:first-child {
  border-left: none;
}

#content {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* --- HEADER ---*/
#header {
  width: 50%;
  height: 100px;
  width: 100%;
}

#h_title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  float: left;

  h1 {
    color: white;
    text-shadow: 4px 3px 6px rgba(206, 206, 206, 0.82);
  }
  h1:hover {
    color: rgb(0, 0, 0);
  }
}

#h_current {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
  float: right;

  p {
    color: white;
    font-size: 25px;
  }

  button {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 3px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 6px #000000;
    -moz-box-shadow: 2px 2px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: #ffffff;
    font-size: 20px;
    background: #53aae4;
    padding: 8px 20px 8px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }

  button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}

/* --- attendance index --- */

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(66, 62, 62);
  color: white;
  border-radius: 50px;
  height: 700px;
  width: 450px;
  -webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.82);

  #homeTitle {
    width: 100%;
    height: 20%;
    h1 {
      font-size: 70px;
      padding-top: 20px;
    }
  }

  #date {
    width: 100%;
    height: 20%;
    h3 {
      font-size: 50px;
      padding-top: 30px;
    }
  }

  #clock {
    width: 100%;
    height: 20%;
    padding-top: 45px;
    form {
      input {
        background-color: rgb(66, 62, 62);
        color: White;
        font-family: Verdana, Arial, Helvetica;
        font-size: 20pt;
        text-align: center;
      }
    }
  }

  #number {
    width: 100%;
    height: 20%;
    form {
      #attendance_employee_private_number {
        width: 65%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        background-color: white;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        margin-bottom: 25px;
      }
      input {
        padding: 10px 20px;
        border: 1px solid #ffffff;
        -webkit-border-radius: 52px;
        border-radius: 52px;
        color: white;
        background: rgba(26, 51, 61, 0);
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 1);
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 1);
        text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
      }
      input:hover {
        background-color: white;
        color: black;
      }
    }
  }

  #adminPanel {
    width: 100%;
    height: 20%;
    padding-top: 60px;
  }
}

/* --- admin index --- */

.panel-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
#admin-panels{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#admin-users {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  ul {
    width: auto;
    text-align: left;
    list-style: circle inside;
  }
}

/* --- REPORTS index ---*/
#reports {
  text-align: center;
  width: 50%;

  #reports_buttons {
    height: 280px;
    gap: 0.75em;
  }
}

/* --- ATTENDANCES BY DAY index ---*/
#a_by_day {
  text-align: center;
  width: 50%;
  height: 900px;

  #a_by_day_top {
    color: white;
  }
  #a_by_day_table {
    margin-top: 20px;
    overflow: auto;
    height: 100%; 
  }
}

#check_by_month {
  text-align: center;
  width: 50%;
  height: 900px;

  #check_by_month_top {
    color: white;
  }
  #check_by_month_table {
    margin-top: 20px;
    overflow: auto;
    height: 100%;
  }
}

#ab_by_month {
  text-align: center;
  width: 50%;
  height: 900px;

  #ab_by_month_top {
    color: white;
  }
  #ab_by_month_info {
    color: white;
    margin-top: 20px;
    overflow: auto;
    height: 100%;
  }
}

.gray-panel {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  border-radius: 40px;
  height: 100%;
  gap: 0.75em;
  background-color: rgb(66, 62, 62);
  color: white;
  -webkit-box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 6px 13px 2px rgba(0, 0, 0, 0.82);
}


#ab_by_month_tables{
  overflow: auto;
  height: 900px;
}
