<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheets/style_admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Admin view</title>
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="top">
            <h2>Reloj Checador</h2>
        </div>
        <div class="middle">
            <a class="button">Manage Employees</a>
            <a class="button">Manage Company Branches</a>
            <a class="button">Reports</a>
        </div>
    </section>
</body>
</html>